.icons-brand{
    display: inline-block;
    width: 200px;
    height: 80px;
    background-image: url(../img/icons-brand.png);
    background-repeat: no-repeat;
}
.brand-1 {
    background-position: 0 0;
}
.brand-2 {
    background-position: 0 -80px;
}    
.brand-3 {
    background-position: 0 -160px;
}
.brand-4 {
    background-position: 0 -240px;
}
.brand-5 {
    background-position: 0 -320px;
}
.brand-6 {
    background-position: 0 -400px;
}
.brand-7 {
    background-position: 0 -480px;
}
.brand-8 {
    background-position: 0 -560px;
} 
.brand-9 {
    background-position: 0 -640px;
}
.brand-10 {
    background-position: 0 -720px;
} 
.brand-11 {
    background-position: 0 -800px;
}  
.brand-12 {
    background-position: 0 -880px;
}                                          
.brand-13 {
    background-position: 0 -960px;
}
.brand-14 {
    background-position: 0 -1040px;
}     
.brand-15 {
    background-position: 0 -1120px;
} 
.brand-16 {
    background-position: 0 -1200px;
}             
.brand-17 {
    background-position: 0 -1280px;
}   
.brand-18 {
    background-position: 0 -1360px;
}
.icons-brandname{
    display: inline-block;
    width: 80px;
    height: 40px;
    background-image: url(../img/icons-brandname.png);
    background-repeat: no-repeat;
}
.brandname-1 {
    background-position: 0 0;
}
.brandname-2 {
    background-position: 0 -40px;
}    
.brandname-3 {
    background-position: 0 -80px;
}
.brandname-4 {
    background-position: 0 -120px;
}
.brandname-5 {
    background-position: 0 -160px;
}
.brandname-6 {
    background-position: 0 -200px;
}
.brandname-7 {
    background-position: 0 -240px;
}
.brandname-8 {
    background-position: 0 -280px;
} 
.brandname-9 {
    background-position: 0 -320px;
}
.brandname-10 {
    background-position: 0 -360px;
} 
.brandname-11 {
    background-position: 0 -400px;
}  
.brandname-12 {
    background-position: 0 -440px;
}                                          
.brandname-13 {
    background-position: 0 -480px;
}
.brandname-14 {
    background-position: 0 -520px;
}     
.brandname-15 {
    background-position: 0 -560px;
} 
.brandname-16 {
    background-position: 0 -600px;
}             
.brandname-17 {
    background-position: 0 -640px;
}   
.brandname-18 {
    background-position: 0 -680px;
}


.icons-share {
    display: inline-block;
    width: 44px;
    height: 45px;
    background: url(../img/icons-share.png) no-repeat;
}
.icons-share-1 {
    background-position: 0 0;
}
.icons-share-2 {
    background-position: 0 -45px;
}


.icons-job{
    display: inline-block;
    width: 64px;
    height: 52px;
    background-image: url(../img/icons-job.png);
    background-repeat: no-repeat;  
}
.icons-job-1{
    background-position: 0 0; 
}
.icons-job-2{
    background-position: 0 -52px;
}
.icons-job-3{
    background-position: 0 -104px;
}

.icons-social{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/icons-social.png);
    background-repeat: no-repeat;  
}
.icons-social-1{
    background-position: 0 0; 
}
.icons-social-2{
    background-position: 0 -20px;
}
.icons-social-3{
    background-position: 0 -40px;
}
.icons-social-4{
    background-position: 0 -60px;
}
.icons-social-5{
    background-position: 0 -80px;
}

.icons-school{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/icons-school.png);
    background-repeat: no-repeat;  
}
.icons-school-1{
    background-position: 0 0; 
}
.icons-school-2{
    background-position: 0 -20px;
}
.icons-school-3{
    background-position: 0 -40px;
}
.icons-school-4{
    background-position: 0 -60px;
}

.icons-inhere{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icons-inhere.png);
    background-repeat: no-repeat;  
}
.icons-inhere-1{
    background-position: 0  0px;
}
.icons-inhere-2{
    background-position: 0 -30px;
}
.icons-inhere-3{
    background-position: 0 -60px;
}
.icons-inhere-4{
    background-position: 0 -90px;
}