$width: 980px;
$headerHeight: 51px;
body {
  font-family: 'PingFang SC','Myriad Pro','Hiragino Sans GB','microsoft yahei';
  padding-top: $headerHeight;
}

header {
  width: 100%;
  position: fixed;                
  top: 0;
  z-index: 10;
  color: #000;
  background: #fff;
  box-shadow: 0 2px 8px 0 #bfbfbf;
  .container {
    width: $width;              
    margin: 0 auto;   
    position: relative;                       
    height: 51px;
    .logo,.links,.nav { 
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
    }    
    .links {
      right: 0;              
    }    
  }   
  .logo {             
    font-size: 25px;                                       
    padding-right: 0.5em;
    height: 2em;
    line-height: 2em;
    background: url(../img/logo.png) no-repeat right 12px;
    background-size: 0.5em 0.5em;  
  }
  .links a {
    display: inline-block;                      
    font-size: 16px;   
    height: 3em;   
    padding: 0 1em;
    line-height: 3em;
    &:hover, &.cur {
        color: #0FB1FA;         
    }
  }
  .nav {
    right: 20px;
    line-height: 51px;
    font-size: 16px;
    display: none;
  }  
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: #c6cdd5;
  background: #415874;
  font-size: 12px;
  a:hover {
    text-decoration: underline;
  }
  .links-1 {
    font-size: 16px;
    color: #fff;
  }
  .links-2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  p {
    margin-top: 30px;
  }   
}    


.pop-box  { 
  position: fixed;
  z-index: 9999999;  
  display: none;  
  background-color: #fff;
} 
#pop-box-mask  { 
  position: fixed;
  z-index: 1001;
  width: 100%; 
  height: 100%;  
  top: 0; 
  left: 0;   
  background: #000;   
} 
#intro-video {
  width: 100%;
  height: 400px;
  background: url(../img/inhere-video-bg.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  .container {
    display: inline-block;
    vertical-align: middle;
  }
  h2 {
    font-weight: 400;
    font-size: 60px;
  }
  h3 {
    font-weight: 400;
    font-size: 24px;
  }    
  .play-btn {
    display: inline-block;
    font-size: 64px;
    cursor: pointer;
  }
  .close-btn {
    position: absolute;
    font-size: 32px;
    color: red;
    cursor: pointer;
  }
  #intro-video-pop-box {
    top: 0;
    left: 0; 
    right: 0;
    margin: auto;
    width: 980px;
  }
}
#work-condition {
  color: #465C7E;
  font-size: 16px;
  .train {
    width: $width;              
    margin: 0 auto; 
    border-bottom: 1px solid #bfbfbf;
    .title {
      padding: 2em 0;
    }
    .row {
      overflow: auto;
      padding-bottom: 3em;
    }
    .row-left {
      width: 40%;
      padding-left: 3em;
      float: left;
    }  
    .row-right {
      width: 40%;
      padding-left: 3em;  
      float: right;            
    }  
    h4 {
      i,span {
        display: inline-block;
        vertical-align: middle;
      }   
      i {
        margin-left: -3em;
      }         
      span {
        padding-left: 1em;
      }
    }
    ul {
      list-style: disc inside;
      line-height: 1.5em;
      padding-top: 0.5em;
    }   
    p {
      color: #73899B;
      padding-top: 0.5em;
    }                    
  } 
  .welfare {
    width: $width;              
    margin: 0 auto; 
    .title {
      padding: 2em 0;
    }
    .row {
      overflow: auto;
      padding-bottom: 3em;
    }
    .row-left {
      width: 40%;
      float: left;
    }  
    .row-right {
      width: 40%;
      float: right;            
    }   
    img {
      width: 100%;
    }             
  }
}

@media screen and (max-width: 1000px) {
  header .container {
    width: 94%;
  }
  #work-condition .train {
    width: 94%;
  }
  #work-condition .welfare {
    width: 94%;
  }
  #intro-video #intro-video-pop-box {
    width: 90%;
  }
}

@media screen and (max-width: 560px) {
  #work-condition .train {
    .row {
      padding-bottom: 0;
    }
    .row-left, .row-right {
      float: none;
      width: auto;
      margin-bottom: 20px;
    }
  } 
  #work-condition .welfare {
    .row {
      padding-bottom: 0;
    }
    .row-left, .row-right {
      float: none;
      width: auto;
      margin-bottom: 20px;
    }
  }
  #intro-video {
    height: 300px; 
    #intro-video-pop-box {
      top: 30px;
    }
    .close-btn {
      margin-left: -30px;
      margin-top: -30px;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 500px) {
  header .container {
    .links {
      max-height: 0;
      overflow: hidden;
      top: 51px;
      bottom: auto;
      text-align: center;
      background: white;
      transition: max-height 0.3s;
      a {
        display: block;
      }
      &.show {
        max-height: 300px;
      }
    }
    .nav {
      display: block;
    }
  }
}